
<ion-content>
  <ion-list>
      <ion-item *ngFor="let libro of librosTabla">
          <ion-thumbnail>
              <img src="http://covers.openlibrary.org/b/isbn/{{libro.isbn[1]}}-M.jpg" />
          </ion-thumbnail>
          <ion-label>
              <ion-text>
                  <h2><b>{{libro.title}}</b></h2>
              </ion-text>
              <ion-text>
                  <p>Autor: {{libro.author_name}}</p>
              </ion-text>
              <ion-text>
                  <p>Agno: {{libro.first_publish_year}}</p>
              </ion-text>
              <ion-text>
                  <a [routerLink]="['/detalle',libro.isbn[2]]">Detalle libro</a>
              </ion-text>
          </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
