<ion-content [fullscreen]="true">
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Autor
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Informacion</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Aplicacion desarrollada por Pakito Arroyo . A continuacion puede consultar
    mas informacion sobre el autor. <br>
    <button ion-button icon-left>
      <ion-icon name="briefcase" style="zoom: 2.0;"></ion-icon>
      <a routerLink="/autor/curriculum">Curriculum Vitae</a>
    </button><br>
    <button ion-button icon-left>
      <ion-icon name="mail" style="zoom: 2.0;"></ion-icon>
      <a href="mailto:frankarroyop@gmail.com">Correo: frankarroyop@gmail.com</a>
    </button><br>
    <button ion-button icon-left>
      <ion-icon name="logo-twitter" style="zoom: 2.0;"></ion-icon>
      <a href="https://twitter.com/arrtorf">Twitter : @arrtorf</a>
    </button><br>
    <button ion-button icon-left>
      <ion-icon name="call" style="zoom: 2.0;"></ion-icon>
      <a><strong>Telefono</strong> 600000000</a>
    </button><br>
  </ion-card-content>
</ion-card>
</ion-content>

